[submodule "libft"]
	path = libft
	url = git@github.com:Aguerin42/libft.git
[submodule "project/line_input"]
	path = project/line_input
	url = git@github.com:Aguerin42/line_input.git
[submodule "project/libft"]
	path = project/libft
	url = git@github.com:Aguerin42/libft.git
